In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('sample.xlsx')

In [16]:
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [17]:
df.shape

(700, 16)

In [20]:
df.drop('product',axis=1,inplace=True)

KeyError: "['product'] not found in axis"

In [21]:
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [22]:
df.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       ' Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [27]:
col=[col for col in df.columns if col not in ['Product','COGS','Date']]

In [28]:
col

['Segment',
 'Country',
 'Discount Band',
 'Units Sold',
 'Manufacturing Price',
 'Sale Price',
 'Gross Sales',
 'Discounts',
 ' Sales',
 'Profit',
 'Month Number',
 'Month Name',
 'Year']

In [29]:
df[col]

,Segment,Country,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,Profit,Month Number,Month Name,Year
0,Government,Canada,None,1618.5,3,20,32370.0,0.00,32370.00,16185.00,1,January,2014
1,Government,Germany,None,1321.0,3,20,26420.0,0.00,26420.00,13210.00,1,January,2014
2,Midmarket,France,None,2178.0,3,15,32670.0,0.00,32670.00,10890.00,6,June,2014
3,Midmarket,Germany,None,888.0,3,15,13320.0,0.00,13320.00,4440.00,6,June,2014
4,Midmarket,Mexico,None,2470.0,3,15,37050.0,0.00,37050.00,12350.00,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,High,2475.0,260,300,742500.0,111375.00,631125.00,12375.00,3,March,2014
696,Small Business,Mexico,High,546.0,260,300,163800.0,24570.00,139230.00,2730.00,10,October,2014
697,Government,Mexico,High,1368.0,5,7,9576.0,1436.40,8139.60,1299.60,2,February,2014
698,Government,Canada,High,723.0,10,7,5061.0,759.15,4301.85,686.85,4,April,2014
699,Channel Partners,United States of America,High,1806.0,250,12,21672.0,3250.80,18421.20,13003.20,5,May,2014